@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: auto;
    max-width: 100vh;
}
main{
   padding-left: 70px;
    width: 700px;
   margin: auto;
}
#Tela{
    position: relative;
    top: 80px;
    left: 22px ;
    height:472px;
    width: 264px ;

}