@charset "UTF-8";


*{
    margin: 0px;
    


}
body{
    background-color: white;
    
  
    

}

main{
     margin: 30px auto 0 auto;
     max-width:95%;
     height:auto;
     display: flex;
     gap: 30px;
    background-color: rgba(0, 0, 255, 0.432);
 
}
#fotperfil img {
    border-radius: 30px;
    height: 190px;
    
    
    
}

section{
   
      
}

footer{
     background-color: rgba(0, 0, 255, 0.432);
    text-align: center;
    max-width:95%;
    height:auto;
     margin: 0 auto;
     padding-bottom: 20px;
     text-align: center;
}
footer img {
    padding-left: 20px;
    

}




 