@charset "UTF-8";

*{
            margin: 0px;
            padding: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        body{
            background-color: rgb(255, 5, 88);
        }
        main{
            width: 400px;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
           border: 1px solid rgb(0, 0, 0);
           box-shadow: 3px 2px rgba(0, 0, 0, 0.623);
            
        }

        h1{
            text-align: center;
            background-image: linear-gradient(to left, blue, gray);
        }
        .primeiro{
            background-color:gray ;
            padding: 10px;
             
        }
        form{
           
            padding: 40px;
            background-image: linear-gradient(to bottom, cadetblue, gray);
        }
        p{
            margin-bottom: 10px;
        }