@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100%;
    
}

body{
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    background-size: cover;
}

main{
    height: 100vh;
    position: relative;
   
}

#Telefone{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 310px;
   
    background-image: url(pacote-d013/imagens/frame-iphone.png) ;
    background-repeat: no-repeat;

}