@charset "UTF-8";

body{
    background-image: url('imagens/fall-8386067.jpg');
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;

}

#sec{
    height: 95vh;
    position: relative;
    max-width: 800px;  
    margin: auto;
}

#relogio{   
    
    position: absolute;
    left:50%;
    top:50%;
    margin: auto;
    border: 1px solid black ;
    background-image: linear-gradient(to bottom,rgb(56, 54, 54), rgb(255, 81, 0) );
    background-attachment: fixed;
    width: 200px;
    
     transform: translate(-50%, -50% );
     border-radius: 20px;
}

