@charset "UTF-8";
/* Versão mobile frist */
 /* Typical divace braking pints :
pequenas telas: 600px
Celulares: 600px ate 768 px;
tabletes:768 ate 992px;
desktop:992px ate 1200px
grandes: acima de 1200px;

*/
@media print {
    body{
        background-image: url('../imagens/back-print.jpg');
    }
  #phone{display: none;}
#tablet{display:none;}
#pc{display: none;}
#tv{display: none;}
#print{display: block}
    
}
@media screen and (min-width: 768px) and (max-width:992px) {
    body{
        background-image: url('../imagens/back-tablet.jpg');
    }
  #phone{display: none;}
#tablet{display:block;}
#pc{display: none;}
#tv{display: none;}
#print{display: none}


}


@media screen and (min-width:992px) and (max-width: 1200px) {
    body{
        background-image: url('../imagens/back-pc.jpg');
    }
  #phone{display: none;}
#tablet{display:none;}
#pc{display: block;}
#tv{display: none;}
#print{display: none}
    
}

@media screen and (min-width: 1200px) {
      body{
        background-image: url('../imagens/back-tv.jpg');
    }
  #phone{display: none;}
#tablet{display:none;}
#pc{display: none;}
#tv{display: block;}
#print{display: none}
    
}
}