@charset "UTF-8";
/* Estilo para impresoras */
*{
    margin: 10px;
    padding: 10px;
}
html,body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(101, 228, 186);
    font-size: 1em;
    line-height: 1.5em;
}

menu{
    display: none;
}
article::after{
        content: "Esse artigo foi impreso";
}
