@charset "UTF-8";

/* typical device breakpoints
    -------------------------
    pequenas telas: ate 600px
    celular: de 600px ate 768px
    teblets: 768px ate 992px
    desktop: 992px ate 1200px
    grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    #burger{
        display:none;
    }
    menu{
        display: block;
    }
    menu > ul > li {
        display: inline-block;

    }
    main{
        min-width: 768px;
    }
}