@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --CinzaClaro: #BFBFBF;
    --Cinzarfosco:#585956;
    --Cinzarforte: #222621;

}
body{
    background-color: var(--CinzaClaro);

}

header{
    background-color:var(--Cinzarfosco) ;

}
header > h1{
    text-align: center;
    padding: 10px;
}
#burger{
    background-color: #222621;
    display: block;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;
}
 #burger:hover{
    background-color: white;
    color: black;
    transition: background 1s;
    transform: translate(-1px -1px -1px);

}
menu{
    display: none;
    
}

menu> ul{
    list-style: none;

}
menu > ul > li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color:var(--Cinzarforte) ;
    color: white;
    text-align: center;
    border: 2px  solid gray;

}
menu > ul > li a:hover{
    background-color: var(--CinzaClaro);
    color: black;
}
main{
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    border-radius:10px;
}
article{
    margin: 20px;
}
article h2{
    
    padding-bottom: 10px;
}
article p{
    text-align: justify;
    margin-bottom: 20px;
    
}
