@charset "UTF-8";

*{
    margin: 0px;




}
body{
    background-color: gold;
    margin-top: 90px;
    margin-left: 90px;
    height: 400px;
    width: 500px;
   

}

header{
    background-color: #a31b1b;
    width: 400px;

}


main {
     background-color: green;
     width: 400px;
     
    
}
 #resp {
    font-size: 26px;
    text-align: center;
    
    background-color: #a31b1b;

}

div > p {
    


}