@charset "UTF-8";

*{
    margin: 0px;




}
body{
    background-color: white;
    margin: auto;
   
    height: 400px;
    width: 400px;
    margin-top: ;

}

header{
    background-color: green;
    width: 400px;
    margin: auto;
    
}


main {
     background-color: green;
     width: 400px;
     margin: auto;
    

     
}
 .resposta { 
    text-align: center;    
    background-color: #a31b1b;
}

#buton{
    position: relative;
    left: 290px;
    bottom: 40px;
    font-size: 20px;
}

