@charset "UTF-8";

@media all{
    *{
        margin: 0px;
        padding: 0px;
    
    }
    html,body{
        width: 100vw;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        background-color:#233eff ; 
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        
        
    }

    h1{
        text-shadow: 1px 1px 3px rgb(7, 44, 7);
        padding: 10px;
        background-color: darkcyan;
    }
}
 
    /* Paisagem */
    @media screen and (orientation: landscape) {
        body{
        background-image: url("../imagens/cev-landscape.jpg");

    }
        h1{
            background-color: darkgoldenrod;
            
        }
    }
    /* Retrato */
    @media screen and (orientation: portrait) {
            body{
        background-image:url('../imagens/cev-portrait.jpg');
        
        }

    }