@charset "UTF-8";
*{
     margin: 0px;
    padding: 0px;
}

html, body{
   background-image: url("../fotos/download\ \(6\).jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

main{
    width: 600px;
    height: 100%;
    display: block;
    margin: auto;
    background-color: #d94e59de ;

}