@charset "UTF-8";
*{
     margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
   background-color: #593936;
   
}

main{
    height: 100vh;
    width: 100vw;
    display: block;
    margin: auto;
    position: relative;
    
}

#login{
    height:500px;
    width: 250px;
    border-radius: 20px;
    
    background-color: rgba(255, 255, 255, 0.63);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
     overflow: hidden;
     box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.603);
}
#login > #imagem{
    display: block;
    background-image: url("../fotos/download\ \(6\).jpg");
    height: 200px;
    background-size: cover;
    background-position: center bottom;
}

#login > #formulario{
    padding: 10px;
    display: block;

}