@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund+Guides&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
   margin: 0px;
   padding: 0px;
}
:root {

  --corAmarela: #F2CB05;
  --corVerde: #03A65A;
  --corAzul:#03258C;
  --corAzulClaroEscu:#031CA6;
  --corAzuldesbot:#C4DDF2;
  --RoboFont: 'Roboto Mono';


}
body{
    font-family:'Roboto Mono';
    background-color:var(--corAmarela);
       

}

main{
   margin-top: 0px;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 10px;
   justify-content: center;
   
  
}
    
 

 header {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background:linear-gradient(to left,#031CA6,#C4DDF2);
   
    
}

nav> a {
     padding-left: 19px;
     padding-right: 17px;
     text-decoration: none;
     color: white;
}
nav{
     background:linear-gradient(to left,#031CA6,#C4DDF2);
    text-align: end;
    


}
.carda{
   background-color: var(--corAzul);
   padding-top: 10px;
   padding-bottom: 0px;
}
a:hover{
     background:linear-gradient(to left,#03258C, #C4DDF2 ) ;
     font-size: 20px;
     border-radius: 8px;

}

.pratododia{
    display: block;
    background-color: var(--corAmarela);
    padding: 10px 10px ;
   margin-top: 0px;
    background-color: var(--corVerde);
    
    
}



main h3 {
    padding-bottom: 8px ;
    text-align: center;
    background-color: var(--corVerde);
}
 main p {
  font-family: var(--RoboFont);
  padding-top: 10px;
  

}

.cardapio{
  display: inline-block;
  background: linear-gradient(to top, white, #03258C );  
  columns: 3;
  text-align: center; 
  padding-left: 20px;
   
  
}

.churras {
   display: inline-block;
   justify-content: center;
   padding: 10px 10px ;
   margin: 10px;
}
.Moqueca {
  display: inline-block;
   justify-content: right;
   padding: 10px 10px ;
   margin: 10px;
}



