@charset "UTF-8";

*{
   margin: 0px;
   padding: 0px;
}

.container {
      
     
      margin: 0px auto;
      columns: 3 300px;
      
     
}

img {
   display: flex;
  
   margin-bottom: 1em ;


}